{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Contact</title>
{% endblock meta %}

{% block content %}
<div class="container">
    <h2 class="text-center">CONTACT</h2>

    <hr>
    
    <div class="row align-items-center">
        <div>
            <img id="contact_img" src="{% static 'img/@_logo.png' %}" alt="logo"> 
        </div>
        <div>
            <h3 class="contact-detail">fauzan.ramadhanto91@ui.ac.id</h3>
        </div>
    </div> 

    <div class="row align-items-center">
        <div>
            <img id="contact_img" src="{% static 'img/blankcontact.png' %}" alt="logo"> 
        </div>
        <div>
            <h3 class="contact-detail">youtcontacthere@domain.com</h3>
        </div>
    </div>
</div>
{% endblock content %}