{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Course</title>
{% endblock meta %}

{% block content %}
<div class="container">
    <h2 class="text-center">COURSE</h2>

    <hr>
    <div>
    {% if courses_data %}
        {% for course in courses_data %}
        <ul>    
            <li>Course Name : {{ course.course_name }}</li>
            <li>Professor Name :{{ course.teaching_professor}}</li>
            <li>Credit : {{ course.credit_amount }}</li>
            <li>Semester : {{ course.semester }}</li>
            <li>Classroom : {{ course.classroom }}</li>
            <li>Description : {{ course.description }}</li>
        </br>
        </ul>
        {% endfor %}
    {% else %}
        <h1>There's no categories present</h1>
    {% endif %} 
    </div>

    <a href="/createcourse" class="btn btn-dark">Create New</a>
</div>
{% endblock content %}