{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Contact</title>
{% endblock meta %}

{% block content %}
<div class="container">
    <h2 class="text-center">COURSE</h2>

    <hr>
    
    <div class="row align-items-center">
        <form action="savecourse" method="POST">
            {% csrf_token %}
            {{form.as_ul}}
            <input type="submit" value="Submit">
        </form>
    </div>
</div>
{% endblock content %}