{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Experience</title>
{% endblock meta %}

{% block content %}
<div class="container">
    <h2 class="text-center">EXPERIENCE</h2>

    <hr>
    
    <div>    
        <div>
            <p class="border rounded bg-dark text-light">
            Universitas Indonesia<br>
            2019 - now
            </p>
        </div>

        <div>
            <p class="border rounded bg-dark text-light">
            SMAN 13 Jakarta Utara<br>
            2016 - 2019
            </p>
        </div>
        
        <div>
            <p class="border rounded bg-dark text-light">
            SMP Diponegoro 1<br>
            2013 - 2015
            </p>
        </div>

        <div>
            <p class="border rounded bg-dark text-light">
            SD Islam At-Taubah<br>
            2006 - 2012
            </p>
        </div>
    </div>

</div>
{% endblock content %}