{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Home</title>
{% endblock meta %}

{% block content %}
<div class="container">
  <h2 class="text-center">PROFILE</h2>

  <hr>

  <div class="row align-items-center">
      <div class="col-sm">
          <img src="{% static 'img/Hex Photo.png' %}"  alt="my img">
      </div>

      <div class="col-sm">
          <h3>Details</h3>
          <p>
          <b>Name:</b><br>
          Fauzan Ramadhanto A.P.<br>
          <b>Birth Date:</b><br>
          4th of December 2000<br>
          <b>Location:</b><br>
          North Jakarta, Indonesia
          </p> 
      </div>

      <div class="col-sm">
          <h3>About Me</h3>
          <p><b>About:</b>
              <br>With the development of technology, I need to further myself as
               to not stumble with the competition out there. People grow with competition and 
               to compete is to succeed. 
          </p>
      </div>
  </div>

  <blockquote class="text-center">
      <q>The  most important question facing the planet is: Is it worth it?</q>
      <footer class="blockquote-footer">Lewis Brindley</footer>
  </blockquote>
</div>
{% endblock content %}
