{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Project</title>
{% endblock meta %}

{% block content %}
<div class="container">
    <h2 class="text-center">PROJECT</h2>

    <hr>

    <div class="row">
        <div class="bg-dark rounded">
            <h3 class="text-center text-light">Project 1</h3>
            <div>
                <img src="{% static 'img/placeholder.png' %}" alt="project img">
            </div>
        </div>

        <div class="bg-dark rounded">
            <h3 class="text-center text-light">Project 2</h3>
            <div>
                <img src="{% static 'img/placeholder.png' %}" alt="project img">
            </div>
        </div>

        <div class="w-100"></div>
        
        <div class="bg-dark rounded">
            <h3 class="text-center text-light">Project 3</h3>
            <div>
                <img src="{% static 'img/placeholder.png' %}" alt="project img">
            </div>
        </div>

        <div class="bg-dark rounded">
            <h3 class="text-center text-light">Project 4</h3>
            <div>
                <img src="{% static 'img/placeholder.png' %}" alt="project img">
            </div>
        </div>
    </div>
</div>
{% endblock content %}