{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Video</title>
{% endblock meta %}

{% block content %}
<div class="container"></div>
    <h2 class="text-center" >VIDEO</h2>

    <hr>

    <div class="embed-responsive embed-responsive-4by3 container-sm">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/B-Wd-Q3F8KM"></iframe>
    </div>
</div>
{% endblock content %}